html{
    font-size: 32xp; /*1em=32xp*/
}
#titulo {
    color:brown;
}

strong {
    color: red;
}

span.destacado {
    color:orange;}


#subtitulo {
    color: blue;
}

span.especial {
    color:yellow;
}

a em{
    color: blue;
}

/***********eslitols para la tabla********/
th, tr, td{
    border:1px solid;
    border-collapse: collpse;
    padding:5xp;
}

caption{
    color:blue;
}

td {
    color:green;
}
th.especial{

    color: orange;
}
/*******fin de la tabla*******/