#titulo {
    color:brown;
}

strong {
    color: red;
}

span.destacado {
    color:orange;}


#subtitulo {
    color: blue;
}

span.especial {
    color:yellow;
}


th, tr, td{
    border:1px solid;

}